.header {

    width: 100%;


}

h1,
h2 {

    cursor: default;
}



.logo {
    width: 45px;
    position: absolute;
    top: 20px;
    left: 260px;
}

nav ul {
    list-style: none;
    padding: 0 20px;
    width: 400px;
    display: inline-block;




}

#right-list {
    width: 300px;
    float: right;

}

nav ul li {
    display: inline-block;
    padding: 10px;

}


nav ul a {
    text-decoration: none;
    font-family: sans-serif;
    color: #807d7d;

}

nav ul a:hover {

    color: #222324;

}

.title {

    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-image: url(dayana-brooke-P2xvHzV68tY-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding-top: 20px;


}

.title h1 {

    font-size: 3rem;
    font-family: sans-serif;
    color: aliceblue;


}

.options {
    width: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;


}

.btn {
    width: 120px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    justify-content: center;
    background: rgba(62, 244, 153, 0.69);



}

.btn:hover {
    background: rgba(27, 255, 141, 0.82);


}

.btn a {
    text-decoration: none;
    color: #ffffff;

    font-family: sans-serif;
}

.search-bar {
    width: 450px;

    height: 40px;
    background: rgba(255, 255, 255, 0.72);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px auto;
}

.search-bar input {

    border: none;
    width: 360px;
    background: rgba(255, 255, 255, 0.38);
    float: left;
    z-index: -1;
    height: 40px;
    padding: 0 10px;
}

.search-bar input:focus {
    border: none;
    outline: none;

}

.search-btn {
    float: right;
    padding: 0 5px;

    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 40px;
    cursor: pointer;
    background: rgb(6, 255, 131);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    text-align: center;
    line-height: 30px;

}

.search-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: sans-serif;
    line-height: 25px;


}

.title2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    line-height: 100px;
    font-weight: bolder;
    font-size: 1.5rem;


}

.services {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.card {
    width: 350px;
    background: #ffffff;
    box-shadow: 1px 1px 20px 1px rgba(124, 120, 120, 0.85);
    text-align: center;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid #d9d3d3 1px;
    cursor: default;
    transition: .5s;
    cursor: pointer;


}

.card:hover {

    transform: scale(1.1);


}

.card img {
    width: 270px;
    height: 150px;

}

.card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;



}

.card p {
    display: block;
    max-width: 250px;
    height: 120px;
    margin-top: -15px;
    padding: 10px;
    line-height: 30px;
    font-size: .9 rem;
    white-space: wrap;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;


}

footer h3 {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;

}

footer {
    width: 500px;

    margin: 0 auto;

}

p {

    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    color: #353636;
}
